In [3]:
import pandas as pd
import numpy as np

### Import CSV File

In [30]:
path = 'C:/Users/anhqu/Downloads/season-1819_csv.csv'

In [31]:
df = pd.read_csv(path)

In [32]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,SP1,17/08/2018,Betis,Levante,0,3,A,0,1,A,...,10,5,3,0,2,0,0,1.66,4.0,5.0
1,SP1,17/08/2018,Girona,Valladolid,0,0,D,0,0,D,...,20,3,2,1,1,0,0,1.75,3.6,5.0
2,SP1,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,...,13,7,1,0,2,0,0,1.11,10.0,21.0
3,SP1,18/08/2018,Celta,Espanol,1,1,D,0,1,A,...,14,8,7,3,2,0,0,1.85,3.5,4.5
4,SP1,18/08/2018,Villarreal,Sociedad,1,2,A,1,1,D,...,10,4,6,2,3,0,0,2.04,3.4,3.8

Data Points Description: http://www.football-data.co.uk/notes.txt

In [33]:
df1 = pd.read_csv('C:/Users/anhqu/Downloads/data.csv')

In [34]:
df1.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [35]:
df1.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
1,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
2,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
3,35,176676,Marcelo,30,https://cdn.sofifa.org/players/4/19/176676.png,Brazil,https://cdn.sofifa.org/flags/54.png,88,88,Real Madrid,...,86.0,71.0,85.0,86.0,12.0,5.0,5.0,5.0,9.0,€88.2M
4,36,173731,G. Bale,28,https://cdn.sofifa.org/players/4/19/173731.png,Wales,https://cdn.sofifa.org/flags/50.png,88,88,Real Madrid,...,86.0,54.0,55.0,52.0,15.0,15.0,11.0,5.0,6.0,€123M

Data Source: https://github.com/amanthedorkknight/fifa18-all-player-statistics/blob/master/2019/data.csv

# 2 ways to Import CSV file to SQLite DB

## sqlite3 Library

##### Import match & betting odds CSV file

In [6]:
import sqlite3
import csv

conn = sqlite3.connect('football.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS match (\
                Div TEXT, \
                Date DATE, \
                HomeTeam TEXT, \
                AwayTeam TEXT, \
                FTHG INTEGER, \
                FTAG INTEGER, \
                FTR TEXT, \
                HTHG INTEGER, \
                HTAG INTEGER, \
                HTR TEXT, \
                HSh INTEGER, \
                ASh INTEGER, \
                HST INTEGER, \
                AST INTEGER, \
                HF INTEGER, \
                AF INTEGER, \
                HC INTEGER, \
                AC INTEGER, \
                HY INTEGER, \
                AY INTEGER, \
                HR INTEGER, \
                AR INTEGER, \
                B365H REAL, \
                B365D REAL, \
                B365A REAL)')

In [ ]:
try:
    with open(path, 'r') as f:
        reader = csv.reader(f)
        columns = next(reader)
        query = 'INSERT INTO match({0}) values ({1})'
        query = query.format(','.join(columns), ','.join('?' * len(columns)))
        for data in reader:
            cursor.execute(query, data)
        conn.commit()
except:
    pass

## pandas and sqlalchemy Library

##### Import Player Stats CSV file

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [ ]:
try:
    df1.to_sql('playerstats', con=conn, if_exists='replace', index=False)
    conn.execute("SELECT * FROM playerstats").fetchall()
    conn.commit()
except:
    pass

# Queries

In [7]:
fav_team = "'Real Madrid'"

## What  is the Team's Win Percentage in 18/19 Season?

In [8]:
total_match = pd.read_sql_query(
                    "SELECT COUNT(*) AS count FROM match \
                    WHERE HomeTeam = " + fav_team + " OR AwayTeam = " + fav_team, 
                    conn)

In [9]:
win_match = pd.read_sql_query(
                "SELECT COUNT(*) AS count FROM match \
                WHERE (HomeTeam = " + fav_team + " AND FTR = 'H') \
                OR (AwayTeam = " + fav_team + " AND FTR = 'A')", 
                conn)

In [10]:
print('Number of RM matches: ')
print(total_match.iloc[0,0])
print('Number of RM won matches: ')
print(win_match.iloc[0,0])
print('% Win Matches: ')
print(round(win_match.iloc[0,0] / total_match.iloc[0,0]*100,2))

Number of RM matches:
38
Number of RM won matches:
21
% Win Matches:
55.26

## How much net profit do you earn if you bet correctly all matches result in the league?

Because we're calculating profit, we need to subtract 1 from the betting score (the price you pay for the stake) 

https://www.investopedia.com/articles/investing/042115/betting-basics-fractional-decimal-american-moneyline-odds.asp

In [11]:
maximum_gain_league = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' THEN B365A-1 \
                    WHEN FTR = 'H' THEN B365H-1 \
                    WHEN FTR = 'D' THEN B365D-1 \
                END AS GAIN \
                FROM match;", 
                conn)

In [12]:
print('Maximum winning gain if betted correctly all matches of the season')
print(maximum_gain_league['GAIN'].sum())

Maximum winning gain if betted correctly all matches of the season
747.03

## Maximum profit  you could earn if you predict correctly all match results of your Team

In [13]:
maximum_gain = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' THEN B365A-1 \
                    WHEN FTR = 'H' THEN B365H-1 \
                    WHEN FTR = 'D' THEN B365D-1 \
                END AS GAIN \
                FROM match WHERE HomeTeam = " + fav_team + " OR AwayTeam = " + fav_team,
                conn)

In [14]:
print('Maximum winning bet you could earn if you predict correctly all match results of your Team')
max_gain = maximum_gain['GAIN'].sum()
print(round(max_gain,2))

Maximum winning bet you could earn if you predict correctly all match results of your Team
96.44

## How much do you profit if you predict all your favorite team's matches as win?

In [15]:
bet_all_win = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' AND AwayTeam = " + fav_team + " THEN B365A-1 \
                    WHEN FTR = 'H' AND HomeTeam = " + fav_team + " THEN B365H-1 \
                    ELSE -1 \
                END AS GAIN \
                FROM match WHERE (HomeTeam = " + fav_team + ") \
                OR (AwayTeam = " + fav_team + ");", 
                conn)

In [16]:
all_win_predict = bet_all_win['GAIN'].sum()
print('Winning: ')
print(round(all_win_predict,2))

if all_win_predict <0:
    print("If you bet all matches as win for your Team, you will lose more than you earn")

Winning:
-6.77
If you bet all matches as win for your Team, you will lose more than you earn

## How is your Team's player Value and Wage compared to your Team's rival(s)?

In [17]:
def squad_value(team, value_or_wage):
    team = str('"'+str(team)+'"')
    
    squad_value = pd.read_sql_query(
        "SELECT Name, " + value_or_wage + \
        " FROM playerstats \
        WHERE Club = " + team, 
        conn)

    squad_value[value_or_wage] = squad_value[value_or_wage].replace('[\€,]', '', regex=True)

    for i in range(len(squad_value[value_or_wage])):
        if 'M' in str(squad_value[value_or_wage][i]):
            squad_value[value_or_wage][i] = float(squad_value[value_or_wage][i].replace('M', ''))
        if 'K' in str(squad_value[value_or_wage][i]):
            squad_value[value_or_wage][i] = float(squad_value[value_or_wage][i].replace('K', ''))/1000
    
    print('Total Squad ' + value_or_wage + ' is: ')
    print('€'+str(round(squad_value[value_or_wage].sum(),2))+'M')

    print('The average ' + value_or_wage + ' per player is: ')
    print('€'+str(round(squad_value[value_or_wage].sum()/len(squad_value),2))+'M')

    print('Highest figure in the squad:')
    print(squad_value.iloc[squad_value[value_or_wage].astype(float).idxmax()][0])
    print('€'+str(squad_value.iloc[squad_value[value_or_wage].astype(float).idxmax()][1])+'M')
    return squad_value

In [18]:
squad_value('Real Madrid', 'Value').head(5)

Total Squad Value is:
€874.43M
The average Value per player is:
€26.5M
Highest figure in the squad:
T. Kroos
€76.5M

           Name Value
0     L. Modrić    67
1       Marcelo    43
2       G. Bale    60
3  Sergio Ramos    51
4      T. Kroos  76.5

## Golden boys: List Top Best players under the age of 22

#### The condition is the player plays at their preferred position

Notice that each player gets a different point for each position. They also have a separate column indicating their favorite position. As the result, the ideal approach would be to Unpivot the columns that indicate their score per position. However, Unpivot is not available in this SQL version.

To work around it, use UNION to stack each position together, then fitler only rows that the favorite position equal to the position. Use Python to create a loop so that you will only have to type the Union query once

To find out the golden boys, merge the stacked table above with the squad value table done above using pd.merge, then filter the Age

In [19]:
position_list = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
                 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
                 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']

In [20]:
query = []
for i in range(len(position_list)):
    query.append("SELECT Name, Club, Age, Overall, Potential, Position AS Fav_pos, " + position_list[i] + " AS Pos_score \
                    FROM playerstats \
                    WHERE Fav_pos=" + "'" + position_list[i] + "' UNION ALL"
                )
query = ' '.join(query)

In [21]:
# [:-10] because the last string is UNION ALL as the result of the loop 

fav_pos_score = pd.read_sql_query(query[:-10] +"ORDER BY Overall DESC, Name",conn)
print("Players' favorite postion and their Overall Score: ")
fav_pos_score.head()

Players' favorite postion and their Overall Score:

,Name,Club,Age,Overall,Potential,Fav_pos,Pos_score
0,Cristiano Ronaldo,Juventus,33,94,94,ST,91+3
1,L. Messi,FC Barcelona,31,94,94,RF,93+2
2,Neymar Jr,Paris Saint-Germain,26,92,93,LW,89+3
3,E. Hazard,Chelsea,27,91,91,LF,88+3
4,K. De Bruyne,Manchester City,27,91,92,RCM,87+3

In [74]:
pd.read_sql_query("SELECT Name, Club, Nationality, playerstats.'International Reputation', Overall, Potential, Age, Position as Fav_pos, \
                    CASE \
                    WHEN Value LIKE '%M%' THEN CAST(REPLACE(REPLACE(Value, '€',''), 'M','') AS REAL) \
                    WHEN Value LIKE '%K' THEN CAST(REPLACE(REPLACE(Value, '€',''), 'K','') AS REAL)/1000 \
                    END AS Value, \
                    CASE \
                    WHEN playerstats.'Release Clause' LIKE '%M%' THEN CAST(REPLACE(REPLACE(playerstats.'Release Clause', '€',''), 'M','') AS REAL) \
                    WHEN playerstats.'Release Clause' LIKE '%K' THEN CAST(REPLACE(REPLACE(playerstats.'Release Clause', '€',''), 'K','') AS REAL)/1000  \
                    END AS Release FROM playerstats WHERE Age<22 AND Potential>84 \
                    ORDER BY Potential DESC, Value DESC", conn)

,Name,Club,Nationality,International Reputation,Overall,Potential,Age,Fav_pos,Value,Release
0,K. Mbappé,Paris Saint-Germain,France,3.0,88,95,19,RM,81.000,166.1
1,G. Donnarumma,Milan,Italy,3.0,82,93,19,GK,29.000,55.1
2,Gabriel Jesus,Manchester City,Brazil,2.0,83,92,21,ST,41.000,84.1
3,O. Dembélé,FC Barcelona,France,3.0,83,92,21,RW,40.000,90.0
4,Vinícius Júnior,Real Madrid,Brazil,1.0,77,92,17,LW,17.500,46.8
5,M. de Ligt,Ajax,Netherlands,2.0,82,91,18,RCB,27.000,43.2
6,Arthur,FC Barcelona,Brazil,1.0,82,90,21,LCM,32.500,73.1
7,H. Aouar,Olympique Lyonnais,France,1.0,80,90,20,LM,23.500,49.4
8,A. Lafont,Fiorentina,France,2.0,78,90,19,GK,14.000,26.6
9,Malcom,FC Barcelona,Brazil,2.0,82,89,21,RW,31.500,70.9
10,M. Rashford,Manchester United,England,2.0,81,89,20,LW,27.000,55.4
11,L. Bailey,Bayer 04 Leverkusen,Jamaica,1.0,81,89,20,LM,26.500,50.4
12,F. de Jong,Ajax,Netherlands,1.0,81,89,21,LDM,26.000,41.6
13,T. Ndombele,Olympique Lyonnais,France,1.0,80,89,21,CM,22.500,47.3
14,K. Havertz,Bayer 04 Leverkusen,Germany,1.0,80,89,19,CAM,22.000,41.8
15,P. Cutrone,Milan,Italy,1.0,77,89,20,RS,16.000,30.4
16,N. Barella,Cagliari,Italy,2.0,77,89,21,RCM,15.500,29.5
17,R. Bentancur,Juventus,Uruguay,1.0,77,89,21,RCM,15.500,28.7
18,J. Sancho,Borussia Dortmund,England,1.0,77,89,18,RM,14.500,27.6
19,A. Meret,Napoli,Italy,1.0,75,89,21,GK,12.000,27.9
20,Riqui Puig,FC Barcelona,Spain,1.0,69,89,18,CM,2.100,6.5
21,S. Tonali,Brescia,Italy,1.0,68,89,18,CDM,1.800,4.7
22,Dani Ceballos,Real Madrid,Spain,1.0,81,88,21,LCM,25.000,56.3
23,F. Kessié,Milan,Ivory Coast,2.0,79,88,21,CM,19.500,NaN
24,D. Calabria,Milan,Italy,1.0,78,88,21,RB,14.500,27.6
25,J. Gomez,Liverpool,England,1.0,78,88,21,CB,14.500,30.5
26,T. Alexander-Arnold,Liverpool,England,1.0,78,88,19,RB,14.000,29.4
27,A. Ćorić,Roma,Croatia,1.0,76,88,21,CAM,14.000,26.6
28,D. Upamecano,RB Leipzig,France,1.0,77,88,19,LCB,13.000,24.7
29,R. Sessegnon,Fulham,England,1.0,75,88,18,LM,12.000,30.3
...,...,...,...,...,...,...,...,...,...,...
136,Aleñá,FC Barcelona,Spain,1.0,72,85,20,CM,6.000,16.1
137,M. Zaracho,Racing Club,Argentina,1.0,72,85,20,RM,6.000,12.8
138,M. Shaparenko,Dynamo Kyiv,Ukraine,1.0,72,85,19,CAM,6.000,16.4
139,M. Cuisance,Borussia Mönchengladbach,France,1.0,72,85,18,CM,5.500,12.8
140,J. Foyth,Tottenham Hotspur,Argentina,1.0,72,85,20,CB,5.500,13.6
141,E. Audero,Sampdoria,Italy,1.0,73,85,21,GK,5.500,NaN
142,C. Kouamé,Genoa,Ivory Coast,1.0,71,85,20,RS,5.000,11.6
143,M. Maolida,OGC Nice,France,1.0,71,85,19,ST,5.000,12.6
144,Rogério,Sassuolo,Brazil,1.0,70,85,20,LM,3.900,NaN
145,S. Özcan,1. FC Köln,Germany,1.0,70,85,20,CM,3.900,8.2
146,O. Okwonkwo,Bologna,Nigeria,1.0,70,85,20,LW,3.900,9.1
147,Jordi Mboula,AS Monaco,Spain,1.0,70,85,19,RM,3.800,9.6
148,Matheus Cunha,RB Leipzig,Brazil,1.0,70,85,19,ST,3.800,8.9
149,M. Romero,PSV,Argentina,1.0,70,85,19,ST,3.800,7.8
150,M. Diaby,Paris Saint-Germain,France,1.0,70,85,18,RW,3.700,9.1
151,R. Nelson,TSG 1899 Hoffenheim,England,1.0,70,85,18,RW,3.700,NaN
152,M. Varnier,Atalanta,Italy,1.0,70,85,20,CB,3.500,NaN
153,T. Weah,Paris Saint-Germain,United States,1.0,69,85,18,LM,2.200,5.4
154,N. Cozza,Montpellier HSC,France,1.0,69,85,19,CB,2.000,5.3
155,M. Barrow,Atalanta,Gambia,1.0,68,85,19,ST,1.900,4.5
156,J. David,KAA Gent,Canada,1.0,68,85,18,ST,1.900,4.0
157,E. Håland,Molde FK,Norway,1.0,68,85,17,ST,1.800,3.4
158,B. Woodburn,Sheffield United,Wales,1.0,68,85,18,CAM,1.800,NaN
159,K. Rüegg,FC Zürich,Switzerland,1.0,68,85,19,RB,1.700,3.6
160,G. Itter,VfL Wolfsburg,Germany,1.0,67,85,19,LB,1.500,3.4
161,M. Boadu,AZ Alkmaar,Netherlands,1.0,66,85,17,ST,1.300,2.7
162,T. Chong,Manchester United,Netherlands,1.0,65,85,18,RW,1.100,3.2
163,T. Kubo,Yokohama F. Marinos,Japan,1.0,64,85,17,CAM,0.975,NaN
164,E. Smith Rowe,Arsenal,England,1.0,64,85,17,LW,0.975,2.8
165,E. Loiodice,Dijon FCO,France,1.0,63,85,17,LDM,0.800,2.4