In [1]:
import pandas as pd
import numpy as np

### Import CSV File

In [2]:
path = 'C:/Users/anhqu/Downloads/season-1819_csv.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,SP1,17/08/2018,Betis,Levante,0,3,A,0,1,A,...,10,5,3,0,2,0,0,1.66,4.0,5.0
1,SP1,17/08/2018,Girona,Valladolid,0,0,D,0,0,D,...,20,3,2,1,1,0,0,1.75,3.6,5.0
2,SP1,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,...,13,7,1,0,2,0,0,1.11,10.0,21.0
3,SP1,18/08/2018,Celta,Espanol,1,1,D,0,1,A,...,14,8,7,3,2,0,0,1.85,3.5,4.5
4,SP1,18/08/2018,Villarreal,Sociedad,1,2,A,1,1,D,...,10,4,6,2,3,0,0,2.04,3.4,3.8

Data Points Description: http://www.football-data.co.uk/notes.txt

In [5]:
df1 = pd.read_csv('C:/Users/anhqu/Downloads/data.csv')

In [6]:
df1.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [7]:
df1.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
1,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
2,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
3,35,176676,Marcelo,30,https://cdn.sofifa.org/players/4/19/176676.png,Brazil,https://cdn.sofifa.org/flags/54.png,88,88,Real Madrid,...,86.0,71.0,85.0,86.0,12.0,5.0,5.0,5.0,9.0,€88.2M
4,36,173731,G. Bale,28,https://cdn.sofifa.org/players/4/19/173731.png,Wales,https://cdn.sofifa.org/flags/50.png,88,88,Real Madrid,...,86.0,54.0,55.0,52.0,15.0,15.0,11.0,5.0,6.0,€123M

Data Source: https://github.com/amanthedorkknight/fifa18-all-player-statistics/blob/master/2019/data.csv

# 2 ways to Import CSV file to SQLite DB

## sqlite3 Library

##### Import match & betting odds CSV file

In [8]:
import sqlite3
import csv

conn = sqlite3.connect('football.db')
cursor = conn.cursor()

In [9]:
cursor.execute('CREATE TABLE IF NOT EXISTS match (\
                Div TEXT, \
                Date DATE, \
                HomeTeam TEXT, \
                AwayTeam TEXT, \
                FTHG INTEGER, \
                FTAG INTEGER, \
                FTR TEXT, \
                HTHG INTEGER, \
                HTAG INTEGER, \
                HTR TEXT, \
                HSh INTEGER, \
                ASh INTEGER, \
                HST INTEGER, \
                AST INTEGER, \
                HF INTEGER, \
                AF INTEGER, \
                HC INTEGER, \
                AC INTEGER, \
                HY INTEGER, \
                AY INTEGER, \
                HR INTEGER, \
                AR INTEGER, \
                B365H REAL, \
                B365D REAL, \
                B365A REAL)')

In [10]:
with open(path, 'r') as f:
    reader = csv.reader(f)
    columns = next(reader)
    query = 'INSERT INTO match({0}) values ({1})'
    query = query.format(','.join(columns), ','.join('?' * len(columns)))
    for data in reader:
        cursor.execute(query, data)
    conn.commit()

## pandas and sqlalchemy Library

##### Import Player Stats CSV file

In [11]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [12]:
df1.to_sql('playerstats', con=conn, if_exists='replace', index=False)
conn.execute("SELECT * FROM playerstats").fetchall()
conn.commit()

C:\Users\anhqu\Anaconda3\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

# Queries

In [37]:
fav_team = "'Real Madrid'"

## What  is the Team's Win Percentage in 18/19 Season?

In [38]:
total_match = pd.read_sql_query(
                    "SELECT COUNT(*) AS count FROM match \
                    WHERE HomeTeam = " + fav_team + " OR AwayTeam = " + fav_team, 
                    conn)

In [39]:
win_match = pd.read_sql_query(
                "SELECT COUNT(*) AS count FROM match \
                WHERE (HomeTeam = " + fav_team + " AND FTR = 'H') \
                OR (AwayTeam = " + fav_team + " AND FTR = 'A')", 
                conn)

In [40]:
print('Number of RM matches: ')
print(total_match.iloc[0,0])
print('Number of RM won matches: ')
print(win_match.iloc[0,0])
print('% Win Matches: ')
print(round(win_match.iloc[0,0] / total_match.iloc[0,0]*100,2))

Number of RM matches:
38
Number of RM won matches:
21
% Win Matches:
55.26

## How much net profit do you earn if you bet correctly all matches result in the league?

Because we're calculating profit, we need to subtract 1 from the betting score (the price you pay for the stake) 

https://www.investopedia.com/articles/investing/042115/betting-basics-fractional-decimal-american-moneyline-odds.asp

In [16]:
maximum_gain_league = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' THEN B365A-1 \
                    WHEN FTR = 'H' THEN B365H-1 \
                    WHEN FTR = 'D' THEN B365D-1 \
                END AS GAIN \
                FROM match;", 
                conn)

In [17]:
print('Maximum winning gain if betted correctly all matches of the season')
print(maximum_gain_league['GAIN'].sum())

Maximum winning gain if betted correctly all matches of the season
747.03

## Maximum profit  you could earn if you predict correctly all match results of your Team

In [41]:
maximum_gain = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' THEN B365A-1 \
                    WHEN FTR = 'H' THEN B365H-1 \
                    WHEN FTR = 'D' THEN B365D-1 \
                END AS GAIN \
                FROM match WHERE HomeTeam = " + fav_team + " OR AwayTeam = " + fav_team,
                conn)

In [43]:
print('Maximum winning bet you could earn if you predict correctly all match results of your Team')
max_gain = maximum_gain['GAIN'].sum()
print(round(max_gain,2))

Maximum winning bet you could earn if you predict correctly all match results of your Team
96.44

## How much do you profit if you predict all your favorite team's matches as win?

In [44]:
bet_all_win = pd.read_sql_query(
                "SELECT HomeTeam, AwayTeam, FTR, \
                CASE \
                    WHEN FTR = 'A' AND AwayTeam = " + fav_team + " THEN B365A-1 \
                    WHEN FTR = 'H' AND HomeTeam = " + fav_team + " THEN B365H-1 \
                    ELSE -1 \
                END AS GAIN \
                FROM match WHERE (HomeTeam = " + fav_team + ") \
                OR (AwayTeam = " + fav_team + ");", 
                conn)

In [46]:
all_win_predict = bet_all_win['GAIN'].sum()
print('Winning: ')
print(round(all_win_predict,2))

if all_win_predict <0:
    print("If you bet all matches as win for your Team, you will lose more than you earn")

Winning:
-6.77
If you bet all matches as win for your Team, you will lose more than you earn

## How is your Team's player Value and Wage compared to your Team's rival(s)?

In [61]:
def squad_value(team, value_or_wage):
    team = str('"'+str(team)+'"')
    
    squad_value = pd.read_sql_query(
        "SELECT Name, " + value_or_wage + \
        " FROM playerstats \
        WHERE Club = " + team, 
        conn)

    squad_value[value_or_wage] = squad_value[value_or_wage].replace('[\€,]', '', regex=True)

    for i in range(len(squad_value[value_or_wage])):
        if 'M' in str(squad_value[value_or_wage][i]):
            squad_value[value_or_wage][i] = float(squad_value[value_or_wage][i].replace('M', ''))
        if 'K' in str(squad_value[value_or_wage][i]):
            squad_value[value_or_wage][i] = float(squad_value[value_or_wage][i].replace('K', ''))/1000
    
    print('Total Squad ' + value_or_wage + ' is: ')
    print('€'+str(round(squad_value[value_or_wage].sum(),2))+'M')

    print('The average ' + value_or_wage + ' per player is: ')
    print('€'+str(round(squad_value[value_or_wage].sum()/len(squad_value),2))+'M')

    print('Highest figure in the squad:')
    print(squad_value.iloc[squad_value[value_or_wage].astype(float).idxmax()][0])
    print('€'+str(squad_value.iloc[squad_value[value_or_wage].astype(float).idxmax()][1])+'M')

In [62]:
squad_value('Real Madrid', 'Value')

Total Squad Value is:
€874.43M
The average Value per player is:
€26.5M
Highest figure in the squad:
T. Kroos
€76.5M

In [63]:
squad_value('Real Madrid', 'Wage')

Total Squad Wage is:
€5.02M
The average Wage per player is:
€0.15M
Highest figure in the squad:
L. Modrić
€0.42M

In [64]:
squad_value('FC Barcelona', 'Wage')

Total Squad Wage is:
€4.84M
The average Wage per player is:
€0.15M
Highest figure in the squad:
L. Messi
€0.565M